@charset "UTF-8";
/* Bootstrap以外のスタイルをソート部分に適用 */
.custom-sort-form {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f8f9fa;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    flex-wrap: wrap;
}
.custom-sort-form h2 {
    flex: 1 1 100%;
    margin-bottom: 0;
}
.custom-sort-form form {
    display: flex;
    flex: 1 1 auto;
    gap: 10px;
}
.custom-sort-form select {
    flex: 1 1 auto;
}
.custom-sort-form button {
    flex: 0 0 auto;
}
