<div th:fragment="siteHeader">
    <header class="bg-light py-3 mb-4 border-bottom">
        <div class="container d-flex justify-content-end">

            <!-- TOPリンク -->
             <a th:href="@{/top}" class="me-3">TOPページ</a>
            <a th:href="@{/admin}" class="me-3">管理TOP</a>
            <a th:href="@{/admin/stock}" class="me-3">在庫管理</a>
            <a th:href="@{/admin/member}" class="me-3">会員管理</a>
            <a th:href="@{/employee/info}" class="me-3">注文管理</a>
            <a th:href="@{/admin/goods}" class="me-3">在庫処理</a>
            
        </div>
    </header>
</div>
